<a href="https://colab.research.google.com/github/alirustama/Data-Analyst/blob/master/Rustam_Programmer_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Number 7**

In [18]:
import pandas as pd
data= pd.read_csv("order_details.csv")
data.head()

                         transaction_id  ... quantity
0  bf83b73e-186b-11ec-a4db-c59ead35adf8  ...     6079
1  bf83b73f-186b-11ec-a4db-c59ead35adf8  ...     3428
2  bf83b740-186b-11ec-a4db-c59ead35adf8  ...     5461
3  bf83b741-186b-11ec-a4db-c59ead35adf8  ...     3447
4  bf83b742-186b-11ec-a4db-c59ead35adf8  ...     2321

[5 rows x 5 columns]

**A.The Number of Unique cities**

In [31]:
s = pd.value_counts(data.city)
s1 = pd.Series({'no_unique': len(s), 'unique values': s.index.tolist()})
s.append(s1)

Ahmedabad                                                     4676
Guwahati                                                      4598
Noida                                                         4592
Chandigarh                                                    4580
Bhopal                                                        4563
Mumbai                                                        4559
Chennai                                                       4549
Delhi                                                         4544
Kolkata                                                       4540
Bangalore                                                     4470
no_unique                                                       10
unique values    [Ahmedabad, Guwahati, Noida, Chandigarh, Bhopa...
dtype: object

In [10]:
len(set(data))

5

### **B.The Number of uniques vendor's Ids**

In [32]:
s = pd.value_counts(data.vendor_id)

df3.to_numeric(
s1 = pd.Series({'no_unique': len(s), 'unique values': s.index.tolist()})
s.append(s1)

e9993a3f-186a-11ec-a4db-c59ead35adf8                                                10546
e9993a3e-186a-11ec-a4db-c59ead35adf8                                                 6734
e9993a3d-186a-11ec-a4db-c59ead35adf8                                                 5476
e9993a3c-186a-11ec-a4db-c59ead35adf8                                                 4773
e9993a3a-186a-11ec-a4db-c59ead35adf8                                                 4540
e9993a3b-186a-11ec-a4db-c59ead35adf8                                                 4535
e9993a39-186a-11ec-a4db-c59ead35adf8                                                 3666
e9993a38-186a-11ec-a4db-c59ead35adf8                                                 2650
e9993a37-186a-11ec-a4db-c59ead35adf8                                                 1842
e9993a36-186a-11ec-a4db-c59ead35adf8                                                  909
no_unique                                                                              10
unique values                           [e9993a3f-186a-11ec-a4db-c59ead35adf8, e9993a3...
dtype: object

### **D. Calculate the Monthly avearage quantity of each city**

In [34]:
salary =  data.groupby(['city','quantity'],as_index=False).quantity.mean()
print(salary)

            city  quantity
0      Ahmedabad      2001
1      Ahmedabad      2003
2      Ahmedabad      2004
3      Ahmedabad      2006
4      Ahmedabad      2007
...          ...       ...
34690      Noida      9985
34691      Noida      9988
34692      Noida      9989
34693      Noida      9990
34694      Noida      9998

[34695 rows x 2 columns]

### **Question No.1**
*Given a set of distinct integers, print the size of a maximal subset of where the sum of any number
in is not evenly divisible by k = 4 *

In [40]:

def subsetPairNotDivisibleByK(arr, N, K):

	f = [0 for i in range(K)]

	for i in range(N):
		f[arr[i] % K] += 1

	if (K % 2 == 0):
		f[K//2] = min(f[K//2], 1)


	res = min(f[0], 1)

	
	for i in range(1,(K // 2) + 1):
		res += max(f[i], f[K - i])

	return res
	

arr = [1, 7, 2, 4]
N = len(arr)
K = 4
print(subsetPairNotDivisibleByK(arr, N, K))

3

**Question no.3**
*Given a string reverse position of all alphanumeric character but maintain position of all the
special symbols and display the result. Example: input_string = ‘ab$24%736(849ldj’ the required
output string should be = ‘jd$l9%486(3742ba’*

In [43]:
def reverseSting(text):
	index = -1
	
	for i in range(len(text)-1, int(len(text)/2), -1):
		
		if text[i].isalpha():
			temp = text[i]
			while True:
				index += 1
				if text[index].isalpha():
					text[i] = text[index]
					text[index] = temp
					break
	return text
string = "ab$24%736(849ldj"
print ("Input_strings: ", string)
string = reverseSting(list(string))
print ("Output_strings: ", "".join(string))

Input_strings:  ab$24%736(849ldj
Output_strings:  jd$24%736(849lba

# **Qustion No. 2**
*Given a set of number, a = 999999999999 ,b= 123456789 .Represent them as an individual link list,
multiple the two link list and represent the result in another link list called result.*

In [ ]:


class Node:
	
	def __init__(self, data):

		self.data = data
		self.next = None
class LinkedList:

	def __init__(self):
		self.head = None
	def push(self, new_data):
	
		new_node = Node(new_data)

		new_node.next = self.head

		self.head = new_node

	def printList(self):

		ptr = self.head


		while(ptr != None):
			print(ptr.data, '->', end = '')

			ptr = ptr.next
			
		print()

def reverse(head_ref):

	prev = None
	current = head_ref.head

	L = 0


	while(current != None):
		L += 1
		Next = current.next
		current.next = prev
		prev = current
		current = Next

	head_ref.head = prev

	return L


def make_empty_list(size):
	
	head = LinkedList()
	
	while(size):
		head.push(0)
		size -= 1
	return head
def multiplyTwoLists(first, second):
	m = reverse(first)
	n = reverse(second)

	result = make_empty_list(m + n + 1)

	second_ptr = second.head
	result_ptr1 = result.head

	while(second_ptr != None):
		c = 0

		result_ptr2 = result_ptr1
		first_ptr = first.head

		while(first_ptr != None):

			mul = ((first_ptr.data) *
				(second_ptr.data) + c)


			result_ptr2.data += mul % 100

			c = ((mul // 100) +
					(result_ptr2.data // 100))
			result_ptr2.data = result_ptr2.data % 100

			first_ptr = first_ptr.next
			result_ptr2 = result_ptr2.next

		if(carry > 0):
			result_ptr2.data += c

		result_ptr1 = result_ptr1.next
		second_ptr = second_ptr.next

	reverse(result)
	reverse(first)
	reverse(second)

	start = result.head
	while(start.data == 0):
		result.head = start.next
		start = start.next
	return result



if __name__=='__main__':
  first = LinkedList()
	second = LinkedList()
  first.push(9)
	first.push(9)
	first.push(9)
	first.push(9)
	first.push(9)
	first.push(9)
  first.push(9)
  first.push(9)
  first.push(9)
  first.push(9)
  first.push(9)
  first.push(9)
 

	print(" a: ", end = '')
	first.printList()
	second.push(1)
	second.push(2)
	second.push(3)
	second.push(4)
	second.push(5)
  second.push(6)
  second.push(7)
  second.push(8)
  second.push(9)

	print("b:", end = '')
	second.printList()

	result = multiplyTwoLists(first, second)
	print("Result: ", end = '')
	result.printList()

In [ ]:
**Question No.4**

In [60]:

def maxFreqElements(arr, N, K) :


	mp = {}

	for i in range(N) :

		if arr[i] in mp :
			mp[arr[i]] += 1
		else :
			mp[arr[i]] = 1

	while (K > 0) :

		
		Max = 0

		for i in mp :

			if (mp[i] > Max) :
				Max = mp[i]


				element = i


		print(element, end = " ")

		if element in mp :
			mp[element] -= 1
		else :
			mp[element] = -1

		K -= 1


arr = [0,0,2,2,3,3,8,2,7]


N = len(arr)

K = 10

maxFreqElements(arr, N, K)

2 0 2 3 0 2 3 8 7 7